.c1{
    img{
        height: 100vh;
        position: relative;
    }

    .text{
        position: absolute;
        z-index: 10;
        color: white;
        top: 200px;
        padding-left: 30px;
        h1{
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        p{
            margin-top: 15px;
        }
        button{
            border: 1px solid;
            height: 40px;
            font-weight: bold;
            border-radius: 5px;
            background-color: white;
            padding-left: 10px;
        }
        i{
            margin-left: 20px;
        }
    }
}

.c2{
    img{
        height: 100vh;
        position: relative;
    }
    
    .text2{
        position: absolute;
        z-index: 10;
        color: white;
        top: 200px;
        padding-left: 30px;
        h1{
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        p{
            margin-top: 15px;
        }
        button{
            border: 1px solid;
            height: 40px;
            font-weight: bold;
            border-radius: 5px;
            padding-left: 10px;
            background-color: white;
        }
        i{
            margin-left: 20px;
        }
    }
}

.c3{
    img{
        height: 100vh;
        position: relative;
    }
    
    .text3{
        position: absolute;
        z-index: 10;
        color: white;
        top: 200px;
        padding-left: 30px;
        h1{
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        p{
            margin-top: 15px;
        }
        button{
            border: 1px solid;
            height: 40px;
            font-weight: bold;
            border-radius: 5px;
            background-color: white;
            padding-left: 10px;
        }
        i{
            margin-left: 20px;
        }
    }
}

.c4{
    img{
        height: 100vh;
        position: relative;
    }
    
    .text4{
        position: absolute;
        z-index: 10;
        color: white;
        top: 200px;
        padding-left: 30px;
        h1{
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 5px;
        }
        h5{
            margin-bottom: 10px;
        }
        
        button{
            border: 1px solid;
            height: 40px;
            font-weight: bold;
            border-radius: 5px;
            background-color: white;
            margin-top: 15px;
            padding-left: 10px;
        }
        i{
            margin-left: 20px;
        }
    }
}

#ca1{
    margin-top: 240%;
    height: 25px;
}

#ca2{
    margin-top: 240%;
    height: 25px;
}
.b1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    
    h5{
        margin-bottom: 30px;
        margin-top: 30px;
        font-size: 18px;
    }
    p{
        margin-bottom: 5px;
        margin-top: 0;
        font-size: 18px;
    }
    a{
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: black;
        font-family: "Teko", sans-serif;
    }

    a:hover{
        color: #fa6600;
    }
}

.card1{
    background-color:#eeeceb;
    padding: 20px;
    
    h1{
        padding-top: 10px;
        font-family:  "Teko", sans-serif;
        font-weight: bold;
       text-align: center;
    }

}
.card2{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    /* max-width: 100%;
    max-height: 100%; */
    gap: 20px;
}

.card-img{
    width: 45%;
    max-width: 400px;
    margin-bottom: 20px;
    padding-left: 20px;
    img{
       width: 100%;
       height: auto;
    }
    h5{
        margin-top: 10px;
        font-family: "Teko", sans-serif;
        font-size: 25px;
        font-weight: bold;
    }
    p{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 17px;
        /* margin-bottom: 10px; */
    }
   

    button{
        border: none;
        background-color: #eee;
        cursor: pointer;
    }
    a{
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        color: black;
    }
}

.dd1{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
}
.para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    

    h1{
        margin-left: 100px;
        margin-bottom: 10px;
    }
    p{
        margin-left: 100px;
        padding-right: 60px;
        font-size: 17px;
        font-weight: 500;
    }
    h5{
        
        margin-left: 100px;
    }

    a{
        text-decoration: none;
        font-weight: 600;
        color: black;
        font-family: "Teko", sans-serif;
    }
}
.img1{
    
    margin-right: 100px;
    max-width: 50%;
    img{
        max-width: 100%;
        height: auto;
    }
}

.btw1{
    height: auto;
    max-width: 100%;
    margin: 10px;
    h1{
        margin-top: 20px;
        margin-bottom: 20px;
        /* text-align: center; */
        font-family:  "Teko", sans-serif;
        font-weight: 600;
        padding-left: 130px;
    }
}

.btw-main{
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}

.ch1{
    width: 20%;
    height: auto;
    text-align: center;
    img{
        height: 60vh;
        max-width: 100%;
        border-radius: 5px;
    }
    h4{
        margin-top: 20px;
        margin-bottom: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        font-size: 20px;
    }
    a{
        text-decoration: none;
        color: black;
    }
}